<!-- your html code here -->
<div id="contact" class="d-flex flex-column justify-content-center align-items-center p-5git status">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-start">Contact</h1>
                <p class="fs-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quos enim recusandae
                    tempora voluptates, iusto eos illo consectetur accusantium, magni qui dolor? Veritatis, voluptatem?
                    Quo sequi expedita fugit facilis quidem.!</p>
            </div>
        </div>
    </div>
    <div class="continer w-50 p-2 bg-light">
        <form>
            <div class="row text-end fw-bold">
                <label for="inputEmail3" class="col-3 col-form-label">Your Emai</label>
                <div class="col">
                    <input type="email" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="row text-end my-2 fw-bold">
                <label for="inputPassword3" class="col-3 col-form-label">Your Message</label>
                <div class="col">
                    <textarea class="form-control" id="inputPassword3" rows="3"></textarea>
                </div>
            </div>
            <div class=" d-flex justify-content-end">
                <button class="btn btn-primary" type="button">Submit</button>
            </div>
        </form>
    </div>
</div>